// マップ型変数breakpointsを定義
$breakpoints: (
  // キー：値
  "sp": "screen and (max-width: 767px)",
  // スマホ用
  "tab": "screen and (min-width: 768px)" // タブレット・PC用
) !default;

// メディアクエリ用のmixinを定義。デフォ値はmd
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

body {
  background-color: antiquewhite;
}

// ヘッダー
.header {
  height: 80px;
  width: 80%;
  margin: 0 auto;
  @include mq(tab) {
    height: 100px;
  }

  &-title {
    text-align: center;
    padding-top: 25px;
    font-weight: bold;
    color: brown;
    font-size: 25px;
    text-shadow: 3px 3px black;

    @include mq(tab) {
      font-size: 40px;
    }
  }
}

// スロット
.slots {
  width: 90%;
  height: 700px;
  overflow: hidden;
  scrollbar-width: none;
  margin: auto;
  border: solid 1px #333;
  background-color: aliceblue;
  @include mq(sp) {
    height: 300px;
  }

  .slot-frame {
    height: 700px;
    position: relative;
    overflow: hidden;
    scrollbar-width: none;
    overflow-y: auto;
    border: solid 1px #333;
    @include mq(tab) {
      height: 700px;
    }

    .slot-all {
      width: 31%;
      position: absolute;

      .slot-one {
        height: 100px;
        @include mq(tab) {
          height: 270px;
        }

        img {
          display: block;
          margin: auto;
          height: 100px;
          @include mq(tab) {
            height: 270px;
          }
        }
      }
    }
    .slot-all:nth-child(1) {
      left: 0;
    }
    .slot-all:nth-child(2) {
      left: 35%;
    }
    .slot-all:nth-child(3) {
      right: 0;
    }
  }
}

//stopボタン
.stop {
  .btn {
    text-align: center;
    padding: 15px;
    position: relative;

    .stop-btn {
      padding: 35px;
      border-radius: 50%;
      background-color: red;
      box-shadow: 0 8px 4px;
      @include mq(sp) {
        padding: 20px;
      }
    }

    .stop-btn:active {
      background-color: rgb(216, 145, 145);
      box-shadow: 0 4px 2px;
    }

    .stop-btn:nth-child(1) {
      margin-right: 25%;
    }
    .stop-btn:nth-child(3) {
      margin-left: 25%;
    }
  }
}

//startボタン
.start {
  padding: 20px;
  text-align: right;
  width: 80%;
  margin: auto;

  &-btn {
    padding: 20px;
    border-radius: 50%;
    background-color: rgb(16, 129, 129);
    box-shadow: 0 8px 4px;
    @include mq(tab) {
      padding: 40px;
    }
  }

  &-btn:active {
    margin-top: 8px;
    background-color: aqua;
    box-shadow: 0px -5px;
    transform: translateY(20px);
    transition: 0.1s;
  }
}

// はじめのモーダル
.first-modal {
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(182, 172, 172);
  top: 0;

  p {
    padding-top: 250px;
    padding-bottom: 30px;
    color: white;
    font-size: 20px;
    @include mq(tab) {
      font-size: 40px;
      padding-top: 350px;
    }
  }
}

//あたりモーダル
.hit-modal {
  display: none;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(143, 140, 140);
  top: 0;

  p {
    padding-top: 250px;
    padding-bottom: 30px;
    font-size: 20px;
    @include mq(sp) {
      padding-top: 100px;
    }
  }
}
